@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./fonts.css";
@import "./reset.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter-Regular', sans-serif;
  --font-family-regular: 'Inter-Regular', sans-serif;
  --font-family-bold: 'Inter-Bold', sans-serif;
  --font-family-medium: 'Inter-Medium', sans-serif;
  --font-family-semibold: 'Inter-Semibold', sans-serif;
  --font-family-light: 'Inter-Light', sans-serif;
  --blue: #009EFA;
  --darkBlue: #0495EA;
  --grey: #707F8A;
  --orange: #F4A124;
  --opalBlue: #012236;
  --odeurYaBlue: #0075E1;
  --leafGreen: #20B538;
  --asphaltGray: #D0D6E0;
  --red: #EC442A;
  --darkRed: #C9402B;
  --naijaGreen: #109B26;
  --lightGrey: #F1F2F4;
  --glazedOrange: #EA8C00;
  --concreteGrey: #344B5B;
  --redTransluscent: #FFEFED;
  --blueTransluscent: #C5E9FF;
  --opalBlueTransluscent: rgba(0, 39, 63, 0.42);
  --greenTransluscent: #DCF7E0;
  --naijaGreenTransluscent: rgba(46, 171, 66, 0.42);
  --glazedOrangeTransluscent: rgba(234, 140, 0, 0.42);
  --oceanBlueTransluscent: #D7ECFF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pattern-bg {
  /*
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #00b180;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width='100%25' height='100%25' viewBox='0 0 1200 800' xmlns='http://www.w3.org/2000/svg'%3E %3Cdefs%3E %3Cpattern id='pattern-svg' x='0' y='0' width='78' height='78' patternUnits='userSpaceOnUse' patternTransform='rotate(-49) translate(0, 0) skewX(0) skewY(0)' %3E %3Csvg width='78' height='78' viewBox='0 0 100 100' %3E %3Cg opacity='0.73'%3E %3Cg %3E %3Cpath opacity='0.6' d='M50.5521 50.052C50.4759 37.2924 45.5702 24.5564 35.8349 14.8211C26.0996 5.08585 13.3636 0.180073 0.604004 0.10392C0.680156 12.8635 5.58593 25.5995 15.3212 35.3348C25.0565 45.0701 37.7925 49.9759 50.5521 50.052Z' fill='%2302e8a5'%3E%3C/path%3E %3Cpath opacity='0.4' d='M50.5521 100.104C50.4759 87.3444 45.5702 74.6083 35.8349 64.8731C26.0996 55.1378 13.3636 50.232 0.604004 50.1559C0.680156 62.9154 5.58593 75.6515 15.3212 85.3867C25.0565 95.122 37.7925 100.028 50.5521 100.104Z' fill='%2302e8a5'%3E%3C/path%3E %3Cpath opacity='0.8' d='M100.105 0.103943C100.028 12.8635 95.1226 25.5996 85.3874 35.3348C75.6521 45.0701 62.9161 49.9759 50.1565 50.052C50.2326 37.2925 55.1384 24.5564 64.8737 14.8211C74.609 5.08587 87.345 0.180095 100.105 0.103943Z' fill='%2302e8a5'%3E%3C/path%3E %3Cpath opacity='0.2' d='M100.105 50.1559C100.028 62.9154 95.1226 75.6515 85.3874 85.3868C75.6521 95.122 62.9161 100.028 50.1565 100.104C50.2326 87.3444 55.1384 74.6084 64.8737 64.8731C74.609 55.1378 87.345 50.232 100.105 50.1559Z' fill='%2302e8a5'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/svg%3E %3C/pattern%3E %3C/defs%3E %3Crect x='0' y='0' width='100%25' height='100%25' fill='%2300b180' /%3E %3Cg %3E %3Cg %3E %3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23pattern-svg)' /%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
  */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width='100%25' height='100%25' viewBox='0 0 1200 800' xmlns='http://www.w3.org/2000/svg'%3E %3Cdefs%3E %3Cpattern id='pattern-svg' x='0' y='0' width='78' height='78' patternUnits='userSpaceOnUse' patternTransform='rotate(-49) translate(0, 0) skewX(0) skewY(0)' %3E %3Csvg width='78' height='78' viewBox='0 0 100 100' %3E %3Cg opacity='.4'%3E %3Cg %3E %3Cpath opacity='0.6' d='M50.5521 50.052C50.4759 37.2924 45.5702 24.5564 35.8349 14.8211C26.0996 5.08585 13.3636 0.180073 0.604004 0.10392C0.680156 12.8635 5.58593 25.5995 15.3212 35.3348C25.0565 45.0701 37.7925 49.9759 50.5521 50.052Z' fill='%234887fa'%3E%3C/path%3E %3Cpath opacity='0.1' d='M50.5521 100.104C50.4759 87.3444 45.5702 74.6083 35.8349 64.8731C26.0996 55.1378 13.3636 50.232 0.604004 50.1559C0.680156 62.9154 5.58593 75.6515 15.3212 85.3867C25.0565 95.122 37.7925 100.028 50.5521 100.104Z' fill='%234887fa'%3E%3C/path%3E %3Cpath opacity='0.4' d='M100.105 0.103943C100.028 12.8635 95.1226 25.5996 85.3874 35.3348C75.6521 45.0701 62.9161 49.9759 50.1565 50.052C50.2326 37.2925 55.1384 24.5564 64.8737 14.8211C74.609 5.08587 87.345 0.180095 100.105 0.103943Z' fill='%234887fa'%3E%3C/path%3E %3Cpath opacity='0.2' d='M100.105 50.1559C100.028 62.9154 95.1226 75.6515 85.3874 85.3868C75.6521 95.122 62.9161 100.028 50.1565 100.104C50.2326 87.3444 55.1384 74.6084 64.8737 64.8731C74.609 55.1378 87.345 50.232 100.105 50.1559Z' fill='%234887fa'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/svg%3E %3C/pattern%3E %3C/defs%3E %3Crect x='0' y='0' width='100%25' height='100%25' fill='%230035a6' /%3E %3Cg %3E %3Cg %3E %3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23pattern-svg)' /%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
}

.text-grey {
  color: var(--grey);
}

.text-primary {
  color: var(--blue);
}

.text-primary {
  color: var(--blue);
}

.text-default {
  color: var(--opalBlue);
}

.bg-ocean-blue-trans {
  background-color: var(--oceanBlueTransluscent);
}

.uc-icon {
  font-family: 'unicons';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* modal transition animations */

.overlay-fade-enter {
  opacity: 0.01;
}

.overlay-fade-enter-active {
  opacity: 1;
  transition: all 300ms;
}

.overlay-fade-exit {
  opacity: 1;
}

.overlay-fade-exit-active {
  opacity: 0.01;
  transition: all 300ms;
}

.modal-enter {
  opacity: 0.01;
  transform: translateY(20px);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 80ms ease-in-out, ;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0.01;
  transform: translateY(20px);
  transition: all 80ms ease-in;
}

/* Notification box animation rules */
.notification-box-transform {
  transform: scaleY(0) scaleX(.8);
}


.notification-box-transform-enter {
  transform: scaleY(0.5) scaleX(.8);
}

.notification-box-transform-enter-active {
  transform: scaleY(1) scaleX(1);
  transition: all 80ms;
}

.notification-box-transform-exit {
  transform: scaleY(1) scaleX(1);
}

.notification-box-transform-exit-active {
  transform: scaleY(0.1) scaleX(.8);
  transition: all 80ms;
}
